
              <table class="table">
            <thead>
              <tr>
                <th width="400">Name</th>
                <th item-width="400">Email</th>
                <th item-width="200">Mobile Number</th>
                <th item-width="200">Massage</th>
                <!-- <th item-width="200">Img</th> -->

              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let emp of e;let i=index">
              
              <tr *ngIf="emp">
                <td>{{emp.name}}</td>
                <td>{{emp.mail}}</td>
                <td>{{emp.mobile}}</td>
                <td>{{emp.Message}}</td>
                <!-- <td><img src={{emp.img}}></td> -->
              
              </tr>
            </ng-container>
            </tbody>
          </table> 
          <button class="btn btn-primary" [routerLink]="['/admin']">Back to Admin Page</button>             



          