<div style="margin-left: 100px; margin-right: 100px;">
  <form class="form-horizontal">
    <div class="form-group">
      <label for="from">From:</label>
      <div>
        <input type="text" class="form-control" id="from" name="from" [(ngModel)]="model.from" placeholder="From">
      </div>
    </div>
    <div class="form-group">
      <label for="To">To:</label>
      <div>
        <input type="text" class="form-control" id="to" name="to" [(ngModel)]="model.to" placeholder="to">
      </div>
    </div>
    <div class="form-group">
      <label for="price">Price:</label>
      <div>
        <input type="text" class="form-control" id="price" name="price" [(ngModel)]="model.price" placeholder="price">
      </div>
    </div>
    <div class="form-group">
      <div>
        <button type="button" class="btn btn-primary btl-lg" (click)="add()">Save</button>
      </div>
    </div>

  </form>





  <button class="btn btn-primary" [routerLink]="['/admin']">Back to Admin Page</button>


  <table class="table">
    <thead>
      <tr>
        <th>From</th>
        <th>To</th>
        <th>Prices</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let emp of res;let i=index">

        <tr *ngIf="emp">
          <td>{{emp.from}}</td>
          <td>{{emp.to}}</td>
          <td> Rs.{{emp.price}}/-</td>
          <td>
            <a class="btn btn-success btn-lg" (click)="editrout(i)">Edit</a>
            <a class="btn btn-danger btn-lg" (click)="deleteroute(i)">Delete</a>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>

  <!-- <table class="table table-bordered">
    <thead>
      <tr>
        <th>from</th>
        <th>to</th>
        <th>Price</th>
        <th>action</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let emp of e;let i=index">

        <tr *ngIf="emp">
          <td>{{emp.From}}</td>
          <td>{{emp.To }}</td>
          <td>{{emp.price}}</td>
          <td>
            <a class="btn btn-success btn-lg" (click)="editrout(i)">Edit</a>
            <a class="btn btn-danger btn-lg" (click)="deleteroute(i)">Delete</a>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table> -->
  <form class="form-horizontal">
    <div class="form-group">
      <label for="From">From:</label>
      <div>
        <input type="text" class="form-control" id="From" name="From" [(ngModel)]="model2.From" placeholder="From">
      </div>
    </div>
    <div class="form-group">
      <label for="To">To:</label>
      <div>
        <input type="text" class="form-control" id="To" name="To" [(ngModel)]="model2.To" placeholder="To">
      </div>
    </div>
    <div class="form-group">
      <label for="From">Price:</label>
      <div>
        <input type="text" class="form-control" id="price" name="price" [(ngModel)]="model2.price" placeholder="price">
      </div>
    </div>

    <div class="form-group">
      <div>
        <button type="submit" class="btn btn-default" (click)="updateroute()">Update</button>
      </div>

    </div>
  </form>
</div>